// VERSION 1
// $li-padding: size(4rem);
// $li-margin: size(8.5rem);

// .header-bottom {
//   display: none;
//   position: relative;

//   @media screen and (min-width: $br-1280) {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//   }
// }

// .header-bottom__sports-btn,
// .header-bottom__categories-btn {
//   display: flex;
//   align-items: center;
// }

// .header-bottom__sports-btn svg,
// .header-bottom__categories-btn svg {
//   margin-left: size(3rem);
//   height: size(10rem);
//   width: size(10rem);
// }

// .header-bottom__links {
//   display: flex;
//   align-items: center;
// }

// .header-bottom__links > li > a {
//   display: block;
//   color: black;
// }

// .header-bottom__sports-btn,
// .header-bottom__categories-btn,
// .header-bottom__links > li > a {
//   padding-top: size(12rem);
//   padding-bottom: size(12rem);
//   font-size: size(14rem);
//   font-weight: 400;
//   color: $c-meta-gray;
//   text-transform: uppercase;
//   letter-spacing: size(1rem);
// }

// .header-bottom__sports-btn,
// .header-bottom__categories-btn,
// .header-bottom__links > li:not(:last-of-type) > a {
//   margin-right: size(14rem);
// }

// .header-bottom__collapsible {
//   display: none;

//   @media screen and (min-width: $br-1280) {
//     border-top: size(1rem) solid $c-break-dark;
//     width: 100%;
//     display: block;
//   }
// }

// .header-bottom__collapsible__sports,
// .header-bottom__collapsible__categories {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding-top: size(7rem);
//   padding-bottom: size(15rem);
// }

// .header-bottom__collapsible__sports > li:not(:last-of-type),
// .header-bottom__collapsible__categories > li:not(:last-of-type) {
//   margin-right: size(20rem);
// }

// .header-bottom__collapsible__sports > li > a,
// .header-bottom__collapsible__categories > li > a {
//   color: $c-meta-gray;
//   font-size: size(14rem);
//   font-weight: 400;
//   letter-spacing: size(0.8rem);
// }

// VERSION 2
$li-padding: size(4rem);
$li-margin: size(8.5rem);

.header-bottom {
  display: none;

  @media screen and (min-width: $br-1280) {
    align-items: center;
    justify-content: center;
    padding-top: size(8.5rem);
    padding-bottom: size(6rem);
    border-bottom: size(1rem) solid black;
    display: flex;
  }
}

.header-bottom__sports,
.header-bottom__categories {
  display: flex;
  align-items: center;
}

.header-bottom__sports,
.header-bottom__categories {
  height: size(20rem);
}

.header-bottom__sports,
.pop-header__sports {
  border-right: size(1rem) solid $c-break-light;
}

.header-bottom__sports {
  margin-right: $li-margin;
  padding-right: $li-margin;
}

.pop-header__sports {
  margin-right: size(4rem);
  padding-right: size(4rem);
}

.header-bottom__categories .dropdown-toggle,
.pop-header .dropdown-toggle {
  background: none !important;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  color: black;
  position: relative;
  top: size(1rem);
}

.header-bottom__categories .dropdown-toggle:hover,
.header-bottom__categories .dropdown-toggle:active,
.header-bottom__categories .dropdown-toggle:focus,
.header-bottom__categories .dropdown-toggle.show,
.pop-header .dropdown-toggle:hover,
.pop-header .dropdown-toggle:active,
.pop-header .dropdown-toggle:focus,
.pop-header .dropdown-toggle.show {
  color: $c-primary !important;
}

.header-bottom__categories .dropdown-menu,
.pop-header .dropdown-menu {
  padding-top: size(4rem);
  padding-bottom: size(4rem);
}

.header-bottom__categories .dropdown-menu li,
.pop-header .dropdown-menu li {
  padding: size(5rem);
}

.header-bottom li {
  margin-left: $li-margin;
  margin-right: $li-margin;
}

.pop-header li {
  margin-left: size(4rem);
  margin-right: size(4rem);
}

.header-bottom a,
.header-bottom .dropdown-toggle,
.pop-header a,
.pop-header .dropdown-toggle {
  padding: size($li-padding);
  font-size: size(10.9rem);
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  text-decoration: none;
  letter-spacing: 0;
}

.header-bottom .dropdown-toggle,
.pop-header .dropdown-toggle {
  min-height: 0;
}

//////////////
//POP HEADER//
//////////////

.pop-header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: size(40rem);
  border-bottom: size(1rem) solid black;
  margin-top: size(-40rem);
  transition: margin-top 0.3s linear;
  z-index: 1000;

  @media screen and (min-width: $br-1200) {
    height: size(35rem);
    margin-top: size(-35rem);
  }
}

.pop-header.show {
  margin-top: 0rem;
}

.pop-header.show.admin-bar {
  @media screen and (min-width: size(601rem)) {
    margin-top: size(46rem);
  }

  @media screen and (min-width: size(783rem)) {
    margin-top: size(32rem);
  }
}

.pop-header > .layout-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media screen and (min-width: $wrapper-mw) {
    justify-content: flex-start;
  }
}

.pop-header__logo {
  @media screen and (min-width: $wrapper-mw) {
    margin-right: size(10rem);
  }
}

.pop-header__logo svg {
  height: size(27rem);
  width: auto;

  @media screen and (min-width: $wrapper-mw) {
    height: size(24rem);
  }
}

.pop-header .header-menu-btn,
.pop-header .header-search-btn {
  color: black;
  position: absolute;
}

.pop-header .header-menu-btn {
  left: $wrapper-p;
  top: size(11rem);

  @media screen and (min-width: $br-768) {
    left: $wrapper-p-768;
  }

  @media screen and (min-width: $br-1024) {
    left: $wrapper-p-1024;
  }

  @media screen and (min-width: $wrapper-mw) {
    right: 0;
    left: unset;
    top: size(8rem);
  }
}

.pop-header .header-search-btn {
  top: size(11rem);
  right: $wrapper-p;

  @media screen and (min-width: $br-768) {
    right: $wrapper-p-768;
  }

  @media screen and (min-width: $br-1024) {
    right: $wrapper-p-1024;
  }

  @media screen and (min-width: $wrapper-mw) {
    right: size(25rem);
    top: size(8rem);
    border-left: size(1rem) solid $c-break-light;
    padding-left: size(10rem);
  }
}

.pop-header .header-menu-btn svg,
.pop-header .header-search-btn svg {
  width: size(16rem);
  height: size(16rem);

  @media screen and (min-width: $wrapper-mw) {
    width: size(14rem);
    height: size(14rem);
  }
}

.pop-header__categories,
.pop-header__sports {
  display: none;

  @media screen and (min-width: $wrapper-mw) {
    display: flex;
    align-items: center;
  }
}
