.post-header {
  display: flex;
  flex-direction: column;
}

.post-header__meta {
  display: flex;
  margin-top: size(23rem);
  margin-bottom: size(12rem);

  @media screen and (min-width: $br-768) {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: size(17rem);
    margin-top: size(30rem);
  }
}

.post-header__meta > .post-meta > .post-meta__item,
.post-header__meta > .post-meta > .post-meta__item > a,
.post-header__meta > .post-meta > .post-meta__item > time {
  color: $c-meta-gray;
  font-size: size(14rem);

  @media screen and (min-width: $br-768) {
    font-size: size(16rem);
  }
}

.post-header__title {
  font-family: $ff-display;
  font-size: $fs-h3;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: size(15rem);
  max-width: $post-content-mw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $br-768) {
    font-size: $fs-h2;
    text-align: center;
    line-height: $lh-display-small;
    padding-left: size(34rem);
    padding-right: size(34rem);
    max-width: 100%;
    margin-bottom: size(30rem);
  }
}

.post-header__title + .post-header__image {
  margin-top: size(30rem);
  @media screen and (min-width: $br-768) {
    margin-top: size(40rem);
  }
}

.post-header__excerpt {
  margin-bottom: size(23rem);

  @media screen and (min-width: $br-768) {
    text-align: center;
    margin-bottom: size(40rem);
    font-size: size(18rem);
  }
}

.post-header__image {
  margin-bottom: size(25rem);

  @media screen and (min-width: $br-768) {
    margin-bottom: size(50rem);
  }

  @media screen and (min-width: $br-1024) {
    max-width: size(900rem);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.featured-image-caption,
.post-content figcaption {
  margin-top: size(7rem);
}

.featured-image-caption,
.featured-image-caption a,
.featured-image-caption span,
.post-content figcaption,
.post-content figcaption a {
  color: rgb(152, 152, 152);
  font-size: size(12rem);
  font-weight: 400;
  font-family: $ff-body;
  line-height: 1;
}

.featured-image-caption a:hover,
.post-content figcaption a:hover {
  color: rgb(107, 107, 107);
}

.post-header__author {
  border-bottom: size(1rem) solid $c-break-light;
  padding-top: size(10rem);
  padding-bottom: size(10rem);
  margin-bottom: size(14rem);
  display: flex;
  align-items: center;
  font-family: $ff-ui;
}

.post-header__author > .post-author a {
  color: black;
  font-weight: 500;
  font-size: $fs-p;
}

.post-header__author > .post-author a:hover {
  color: gray;
}

.post-header__author > .post-date {
  font-size: $fs-p;
  font-weight: 400;
}

.post-header__author,
.post-header__excerpt,
.post-header__meta,
.post-footer {
  max-width: $post-content-mw;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#layout {
  font-family: $ff-ui !important;
}

.post-see-more {
  margin-bottom: size(40rem);

  @media screen and (min-width: $br-768) {
    margin-bottom: size(35rem);
  }
}
