.posts-list-basic {
  margin-bottom: size(30rem);
}

.posts-list-basic > li:hover .post-preview-basic__main__text__title {
  color: $c-primary;
}

.posts-list-basic li:not(:last-child) {
  padding-bottom: size(30rem);
  border-bottom: size(1rem) solid $c-break-light;
  margin-bottom: size(27rem);

  @media screen and (min-width: $br-576) {
    margin-bottom: size(30rem);
  }

  @media screen and (min-width: $br-768) {
    padding-bottom: size(25rem);
    margin-bottom: size(25rem);
  }
}

.posts-list-basic + .posts-list-basic {
  padding-top: size(27rem);
  border-top: size(1rem) solid $c-break-light;
  margin-top: size(30rem);

  @media screen and (min-width: $br-576) {
    margin-top: size(30rem);
  }

  @media screen and (min-width: $br-768) {
    padding-top: size(25rem);
    margin-top: size(25rem);
  }
}
