.posts-list {
  max-width: $main-column-mw;

  @media screen and (min-width: $br-1200) {
    padding-right: $layout-break-padding;
  }
}

.posts-list > li:not(:last-child) {
  padding-bottom: size(30rem);
  border-bottom: size(1rem) solid $c-break-light;
  margin-bottom: size(27rem);

  @media screen and (min-width: $br-576) {
    margin-bottom: $list-item-break;
  }

  @media screen and (min-width: $br-768) {
    padding-bottom: $list-item-break-big;
    margin-bottom: $list-item-break-big;
  }
}

.posts-list + .posts-list {
  padding-top: $list-item-break;
  margin-top: $list-item-break;

  @media screen and (min-width: $br-576) {
    margin-top: $list-item-break;
  }

  @media screen and (min-width: $br-768) {
    padding-top: $list-item-break-big;
    margin-top: $list-item-break-big;
  }
}

.posts-list-no-posts {
  margin-bottom: size(40rem);
  color: black;
  font-size: size(14rem);
}
