.posts-list {
  max-width: calc(2 / 3 * $wrapper-mw);
  margin-bottom: size(30rem);

  @media screen and (min-width: $br-1200) {
    padding-right: size(30rem);
  }
}

.posts-list li:not(:last-child) {
  padding-bottom: size(30rem);
  border-bottom: size(1rem) solid $c-break-light;
  margin-bottom: size(27rem);

  @media screen and (min-width: $br-576) {
    margin-bottom: size(30rem);
  }

  @media screen and (min-width: $br-768) {
    padding-bottom: size(40rem);
    margin-bottom: size(40rem);
  }
}

.posts-list + .posts-list {
  padding-top: size(27rem);
  border-top: size(1rem) solid $c-break-light;
  margin-top: size(30rem);

  @media screen and (min-width: $br-576) {
    margin-top: size(30rem);
  }

  @media screen and (min-width: $br-768) {
    padding-top: size(40rem);
    margin-top: size(40rem);
  }
}

.posts-list + .more-posts-btn-container {
  margin-bottom: size(27rem);
  display: flex;
  justify-content: center;
  max-width: calc(2 / 3 * $wrapper-mw);
}

.posts-list + .more-posts-btn-container > .more-posts-btn {
  margin-left: auto;
  margin-right: auto;
  width: size(200rem);
  height: size(45rem);
  text-transform: uppercase;
  font-weight: 300;
}
