.posts-list {
  max-width: calc(2 / 3 * $wrapper-mw);
  margin-bottom: size(30rem);

  @media screen and (min-width: $br-1200) {
    padding-right: size(30rem);
  }
}

.posts-list li:not(:last-child) {
  padding-bottom: size(30rem);
  border-bottom: size(1rem) solid $c-break-light;
  margin-bottom: size(27rem);

  @media screen and (min-width: $br-576) {
    margin-bottom: size(30rem);
  }

  @media screen and (min-width: $br-768) {
    padding-bottom: size(40rem);
    margin-bottom: size(40rem);
  }
}

.posts-list + .posts-list {
  padding-top: size(27rem);
  border-top: size(1rem) solid $c-break-light;
  margin-top: size(30rem);

  @media screen and (min-width: $br-576) {
    margin-top: size(30rem);
  }

  @media screen and (min-width: $br-768) {
    padding-top: size(40rem);
    margin-top: size(40rem);
  }
}

.posts-list-no-posts {
  margin-bottom: size(40rem);
  color: black;
  font-size: size(14rem);
}
