.post-preview-vertical {
}

.post-preview-vertical__image {
  margin-bottom: size(15rem);
  display: block;

  @media screen and (min-width: $br-768) {
    margin-bottom: size(18rem);
  }
}

.post-preview-vertical__title {
  margin-bottom: size(15rem);

  @media screen and (min-width: $br-768) {
    margin-bottom: size(18rem);
  }
}

.post-preview-vertical__title a {
  font-family: $ff-display;
  font-size: $fs-h4;
  font-weight: 500;
  color: black;
  line-height: $lh-display;
  display: block;

  @media screen and (min-width: $br-768) {
    font-size: $fs-h5;
  }
}

.post-preview-vertical__meta {
  @media screen and (min-width: $br-768) {
    display: none;
  }

  @media screen and (min-width: $br-1024) {
    display: flex;
  }
}
