.post-preview-vertical__image {
  margin-bottom: size(15rem);
  display: block;

  @media screen and (min-width: $br-768) {
    margin-bottom: size(18rem);
  }
}

.post-preview-vertical__taxonomies {
  display: flex;
  margin-bottom: size(12rem);

  @media screen and (min-width: $br-768) {
    margin-bottom: size(14rem);
  }
}

.post-preview-vertical__taxonomies a {
  font-family: $ff-body;
  text-transform: uppercase;
  font-size: size(14rem);
  font-weight: 600;

  @media screen and (min-width: $br-768) {
    font-size: $fs-small;
  }
}

.post-preview-vertical__title {
  margin-bottom: size(15rem);

  @media screen and (min-width: $br-768) {
    margin-bottom: size(18rem);
  }
}

.post-preview-vertical__title a {
  font-family: $ff-display;
  font-size: $fs-h3;
  font-weight: 500;
  color: black;
  line-height: 1.05;

  @media screen and (min-width: $br-768) {
    font-size: $fs-h4;
    line-height: 1.1;
  }
}

.post-preview-vertical__excerpt {
  margin-bottom: size(15rem);
  color: black;

  @media screen and (min-width: $br-768) {
    color: gray;
  }
}

.post-preview-vertical__date {
  text-transform: uppercase;
  font-size: $fs-small;
  letter-spacing: size(0.2rem);
  color: rgb(80, 80, 80);
}
