.events-calendar .archive-header {
  align-items: flex-start;

  @media screen and (min-width: $br-1200) {
    margin-bottom: size(30rem);
  }
}

.events-calendar__no-events {
  margin-top: size(30rem);
  margin-bottom: size(15rem);
  text-align: left;
  font-weight: 400;
  color: gray;
  letter-spacing: size(0.2rem);
  font-family: $ff-ui;
}

.events-calendar__events {
  width: 100%;
  margin-bottom: size(30rem);
  padding-bottom: size(15rem);
}

.events-calendar__events + .events-calendar__events {
  margin-top: size(30rem);
}

.events-calendar__events__title {
  padding-top: size(10rem);
  margin-bottom: size(30rem);
  text-align: left;
  font-weight: 500;
  letter-spacing: size(0.2rem);
  font-family: $ff-ui-heading;
  font-size: size(18rem);
  border-top: size(1rem) solid black;
}
