.event-details {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $br-768) {
    flex-direction: row;
  }
}

.event-details__main {
  margin-bottom: size(15rem);

  @media screen and (min-width: $br-768) {
    margin-left: size(25rem);
    margin-bottom: 0;
    order: 3;
  }
}

.event-details__main > p {
  font-family: $ff-body;
  line-height: 1.3;
}

.event-details__main > p:not(:last-of-type) {
  margin-bottom: size(6rem);
}

.event-details__map {
  @media screen and (min-width: $br-768) {
    order: 1;
  }
}
