.list-event-header {
  display: flex;
}

.list-event-header__main {
  display: flex;
  flex-direction: column;
  margin-left: size(20rem);

  @media screen and (min-width: $br-768) {
    margin-left: size(25rem);
  }
}
.list-event-header__main__title {
  text-align: left;
  text-transform: uppercase;
  font-family: $ff-display;
  font-size: $fs-p;
  font-weight: 700;
  line-height: $lh-display;
  margin-bottom: size(7rem);
}

.list-event-header:hover .list-event-header__main__title {
  color: $c-primary;
}

.list-event-header__main__title + .list-event-header__main__city {
  margin-top: size(7rem);
}
