.hero-more-posts {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $br-768) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $br-1200) {
    flex-direction: column;
    padding-left: $layout-break-padding;
  }
}

.hero-more-post {
  display: flex;

  @media screen and (min-width: $br-768) {
    width: 50%;
  }

  @media screen and (min-width: $br-1200) {
    width: 100%;
  }
}

.hero-more-post__title {
  @media screen and (min-width: $br-768) {
    padding-right: size(20rem);
  }

  @media screen and (min-width: $br-1200) {
    padding-right: 0;
  }
}

.hero-more-post__title a {
  font-family: $ff-display;
  line-height: $lh-display;
  font-size: $fs-p;
  font-weight: $fw-display;
  color: black;
  display: block;

  @media screen and (min-width: $br-1200) {
    font-size: $fs-p;
  }
}

.hero-more-post:not(:last-child) {
  margin-bottom: size(20rem);

  @media screen and (min-width: $br-768) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $br-1200) {
    padding-right: 0;
    margin-bottom: size(20rem);
    padding-bottom: size(20rem);
    border-bottom: size(1rem) solid $c-break-light;
  }
}

.hero-more-post:first-child,
.hero-more-post:nth-child(2) {
  @media screen and (min-width: $br-768) {
    margin-bottom: size(15rem);
  }

  @media screen and (min-width: $br-1200) {
    margin-bottom: size(20rem);
  }
}

.hero-more-post__image {
  width: 30%;
  margin-right: size(18rem);
  flex-shrink: 0;

  @media screen and (min-width: $br-1200) {
    width: 30%;
    margin-right: size(20rem);
  }
}

.hero-more-post__image .featured-image-wrapper {
  padding-top: 85%;

  @media screen and (min-width: $br-1200) {
    padding-top: 62.5%;
  }
}
