$main-dividers-color: $c-break-dark;

.index__newest {
  margin-bottom: size(25rem);
}

.index__section-title {
  font-family: $ff-ui-heading;
  font-size: $fs-h3;
  text-align: center;
  margin-bottom: size(30rem);
}

.index__posts-group__category {
  background-color: $c-background-gray;
  padding-top: size(30rem);
  padding-bottom: size(30rem);
  margin-bottom: size(40rem);
}

.index__posts-group__news {
  margin-bottom: size(40rem);
}

.index__posts-group__news__title {
  margin-top: size(-10rem);
  margin-bottom: size(45rem);
  font-size: $fs-h3;
}
