$main-dividers-color: $c-break-dark;

.index__newest {
  display: flex;
  flex-direction: column;
  margin-bottom: size(25rem);

  @media screen and (min-width: $br-768) {
    margin-bottom: size(50rem);
  }

  @media screen and (min-width: $br-1200) {
    margin-top: size(23rem);
    margin-bottom: size(50rem);
    flex-direction: row;
  }
}

.index__section-title {
  font-family: $ff-display;
  font-size: $fs-h4;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: size(25rem);
  // letter-spacing: size(1rem);

  @media screen and (min-width: $br-768) {
    margin-bottom: size(30rem);
    text-align: left;
  }

  @media screen and (min-width: $br-1200) {
    margin-bottom: size(25rem);
    font-size: size(22.5rem);
  }
}

.index__posts-group__category {
  background-color: $c-background-gray;
  padding-top: size(30rem);
  padding-bottom: size(30rem);
  margin-bottom: size(40rem);

  @media screen and (min-width: $br-768) {
    padding-top: size(35rem);
    margin-bottom: size(50rem);
  }

  @media screen and (min-width: $br-1200) {
    padding-top: size(37rem);
    padding-bottom: size(40rem);
    margin-bottom: size(50rem);
  }
}

.index__posts-group__news {
  margin-bottom: size(40rem);
}

.index__posts-group__news__title {
  margin-top: size(0rem);
  margin-bottom: size(35rem);
  font-size: size(22.5rem);

  @media screen and (min-width: $br-1200) {
    font-size: size(18rem);
    margin-bottom: size(30rem);
  }
}
