.post-comments {
  display: flex;
  flex-direction: column;
  margin-bottom: size(25rem);
}

#disqus_thread + .post-comments-btn {
  margin-top: size(35rem);
}

.post-comments-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: size(45rem);
  width: size(250rem);
  margin-top: size(25rem);
  margin-bottom: size(20rem);
  border-radius: size(3rem);
}

.post-comments-btn__count {
  margin-left: size(5rem);
}

.post-comments-btn svg {
  margin-left: size(10rem);
}
