.sport-subpages {
  display: flex;
  align-items: center;
  margin-top: size(8rem);

  @media screen and (min-width: $br-768) {
    margin-top: 0;
    margin-left: size(15rem);
  }
}

.sport-subpages li:not(:last-of-type) {
  padding-right: size(8rem);
  border-right: size(0.1rem) solid $c-break-dark;
  margin-right: size(8rem);
}

.sport-subpages a {
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: $fs-small;
}
