.header-top {
  position: relative;
  display: flex;
  padding-top: size(13rem);
  padding-bottom: size(13rem);
  border-bottom: size(1rem) solid $c-break-dark;

  @media screen and (min-width: $br-1280) {
    padding-bottom: size(13rem);
    border-bottom: size(1rem) solid rgb(200, 200, 200);
    align-items: flex-start;
  }
}

.header-top__logo {
  margin-left: auto;
  margin-right: auto;
}

.header-top__logo svg {
  width: size(70rem);
  height: auto;

  @media screen and (min-width: $br-1280) {
    width: size(120rem);
  }
}

.header-top__menu-btn,
.header-top__search-btn,
.header-top__links {
  color: black;
  position: absolute;
}

.header-top__menu-btn {
  left: $wrapper-p;
  top: size(33rem);

  @media screen and (min-width: $br-768) {
    left: $wrapper-p-768;
  }

  @media screen and (min-width: $br-1024) {
    left: $wrapper-p-1024;
  }

  @media screen and (min-width: $wrapper-mw) {
    left: size(5rem);
    top: size(10rem);
  }
}

.header-top__search-btn {
  top: size(33rem);
  right: $wrapper-p;

  @media screen and (min-width: $br-768) {
    right: $wrapper-p-768;
  }

  @media screen and (min-width: $br-1024) {
    right: $wrapper-p-1024;
  }

  @media screen and (min-width: $wrapper-mw) {
    right: unset;
    left: size(30rem);
    top: size(10rem);
  }
}

.header-top__menu-btn svg,
.header-top__search-btn svg {
  width: size(17rem);
  height: size(17rem);
}

.header-top__links {
  display: none;

  @media screen and (min-width: $wrapper-mw) {
    top: size(10rem);
    right: size(5rem);
    display: flex;
  }
}

.header-top__links__pages {
  margin-right: size(2rem);
}

.header-top__links__pages,
.header-top__links__social {
  display: flex;
  align-items: center;
}

.header-top__links__pages a {
  color: black;
  font-size: size(12rem);
  padding-left: size(6rem);
  padding-right: size(6rem);
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: underline;
}

.header-top__links__social a {
  color: black;
  padding-left: size(3rem);
  padding-right: size(3rem);
}

.header-top__links__social a svg {
  width: size(13rem);
  height: size(13rem);
}
