.post-preview-horizontal {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $br-576) {
    flex-direction: row;
  }
}

.post-preview-horizontal.small {
  flex-direction: row;
}

.post-preview-horizontal__text {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $br-576) {
    order: 2;
  }
}

.post-preview-horizontal__text__date {
  font-size: $fs-smaller;
  letter-spacing: size(0.2rem);
  color: rgb(80, 80, 80);
  margin-bottom: size(10rem);
  color: gray;
  font-weight: 300;

  @media screen and (min-width: $br-576) {
    margin-top: size(10rem);
    margin-bottom: 0;
    order: 1;
    font-size: size(11rem);
  }
}

.post-preview-horizontal__image {
  @media screen and (min-width: $br-576) {
    order: 1;
  }
}
