.post-preview-horizontal {
  display: flex;
}

.post-preview-horizontal.small {
  flex-direction: row;
}

.post-preview-horizontal__text {
  display: flex;
  flex-direction: column;
  margin-right: auto;

  @media screen and (min-width: $br-768) {
    order: 2;
  }
}

.post-preview-horizontal__text__title {
  margin-bottom: size(15rem);

  @media screen and (min-width: $br-768) {
    margin-bottom: size(10rem);
  }
}

.post-preview-horizontal__text__title:last-child {
  margin-bottom: size(23rem);

  @media screen and (min-width: $br-576) {
    margin-bottom: 0;
  }
}

.post-preview-horizontal__text__title a {
  font-family: $ff-display;
  font-weight: $fw-display;
  line-height: $lh-display;
  font-size: $fs-h5;
  color: black;
  display: block;

  @media screen and (min-width: $br-768) {
    line-height: 1.3;
    font-size: size(20rem);
  }
}

.post-preview-horizontal__image {
  width: $image_width_small_screen;
  flex-shrink: 0;
  margin-left: size(15rem);

  @media screen and (min-width: $br-576) {
    flex-shrink: 0;
    width: 30%;
    padding-right: size(23rem);
  }

  @media screen and (min-width: $br-768) {
    margin-right: size(26rem);
    margin-left: 0;
    padding-right: 0;
    order: 1;
  }
}

.post-preview-horizontal__image .featured-image-wrapper {
  padding-top: 75%;
}
