.last-modified {
  max-width: size(650rem);
  margin-left: auto;
  margin-right: auto;
  background-color: $c-break-light;
  margin-bottom: size(20rem);
  padding: size(12rem) size(15rem);
  border-radius: size(5rem);
}
