.post-preview-basic {
  display: flex;
  flex-direction: column;
}

.post-preview-basic__main {
  flex-shrink: 0;
  display: flex;

  @media screen and (min-width: $br-576) {
    margin-right: 0;
  }
}

.post-preview-basic__main + .post-preview-basic__excerpt {
  margin-top: size(10rem);

  @media screen and (min-width: $br-576) {
    display: none;
  }
}

.post-preview-basic__main__text {
  width: 70%;
  padding-right: size(20rem);

  @media screen and (min-width: $br-576) {
    width: 80%;
    padding-right: size(30rem);
  }
}

.post-preview-basic__main__text__taxonomies {
  display: flex;
  text-transform: uppercase;
  font-family: $ff-ui;
  font-size: size(11.5rem);
  margin-bottom: size(5rem);
}

.post-preview-basic__main__text__title a {
  color: black;
  font-family: $ff-display;
  font-weight: $fw-display;
  font-size: $fs-h5;
  line-height: 1.3;
  display: block;
}

.post-preview-basic__main__text__meta {
  display: none;

  @media screen and (min-width: $br-576) {
    display: flex;
  }
}

.post-preview-basic__main__text__title
  + .post-preview-basic__main__text__excerpt {
  @media screen and (min-width: $br-576) {
    margin-top: size(10rem);
  }
}

.post-preview-basic__main__text__excerpt {
  display: none;

  @media screen and (min-width: $br-576) {
    display: block;
    font-size: size(14rem);
  }
}

.post-preview-basic__main__image {
  flex-shrink: 0;
  flex-grow: 1;
  width: 30%;

  @media screen and (min-width: $br-576) {
    width: 20%;
  }
}

.post-preview-basic__main__image > .featured-image-wrapper {
  padding-top: 75%;
}

.post-preview-basic__main__text__meta,
.post-preview-basic__meta {
  color: $c-break-dark;
  font-size: $fs-small;
  margin-top: size(8rem);
  line-height: 1.6;
}

.post-preview-basic__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: $br-576) {
    display: none;
  }
}
