@import "./vendor/bootstrap.scss";
@import "./vendor/maptiler.scss";

/*
// For convenience: scss function size($rem) returns 1/16 of $rem argument (and scales with user browser font size setting).
*/

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: $ff-ui;
  font-size: $fs-p;
  line-height: 1;
  min-width: size(320rem);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
button,
span,
time,
figure {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
  line-height: 1;
}

button {
  color: black;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: color 0.07s linear;
}

a.active {
  color: $c-primary !important;
}

.hoverable {
  transition: color 0.1s linear;
}

a:hover,
a:active,
.hoverable:hover,
.hoverable:focus,
.hoverable:active {
  color: $c-primary;
}

.archive .posts-list {
  margin-bottom: size(30rem);
}

.archive-header {
  display: flex;
  flex-direction: column;
  margin-top: size(20rem);
  margin-bottom: size(25rem);

  @media screen and (min-width: $br-768) {
    margin-top: size(25rem);
    margin-bottom: size(40rem);
    align-items: flex-start;
  }
}

.archive-title {
  font-size: $fs-h3;
  font-family: $ff-display;
  font-weight: 800;
  line-height: $lh-display-small;
  text-transform: uppercase;

  @media screen and (min-width: $br-768) {
    font-size: $fs-h2;
    text-align: center;
  }
}

.archive-header .archive-title {
  text-align: left;

  @media screen and (min-width: $br-768) {
    margin-bottom: size(5rem);
  }
}

.layout-container {
  width: 100%;
  max-width: size(576rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: $wrapper-p;
  padding-right: $wrapper-p;

  @media screen and (min-width: $br-768) {
    padding-left: $wrapper-p-768;
    padding-right: $wrapper-p-768;
    max-width: size(768rem);
  }

  @media screen and (min-width: $br-1024) {
    padding-left: $wrapper-p-1024;
    padding-right: $wrapper-p-1024;
    max-width: $wrapper-mw;
  }

  @media screen and (min-width: $br-1280) {
    padding-left: $wrapper-p-1280;
    padding-right: $wrapper-p-1280;
  }
}

.see-more {
  display: flex;
  flex-direction: column;
}

.see-more > h5 {
  font-size: $fs-h4;
  padding-bottom: size(10rem);
  margin-bottom: size(20rem);
  border-bottom: size(1rem) solid $c-break-light;

  @media screen and (min-width: $br-768) {
    margin-bottom: size(35rem);
  }
}

.posts-list + .more-posts-btn-container,
.posts-list-basic + .more-posts-btn-container {
  display: flex;
  justify-content: center;
  max-width: $main-column-mw;
  margin-bottom: size(40rem);
}

.posts-list-basic + .more-posts-btn-container {
  margin-top: size(27rem);
}

.more-posts-btn {
  margin-left: auto;
  margin-right: auto;
  width: size(200rem);
  height: size(45rem);
}

.post-preview-taxonomies {
  display: flex;
  align-items: center;
  font-size: size(14rem);
  font-weight: 500;
  margin-bottom: size(10rem);
  color: rgb(51, 51, 51);

  @media screen and (min-width: $br-768) {
    margin-bottom: size(7rem);
  }
}

.post-preview-small-screen-excerpt {
  margin-bottom: size(20rem);
  font-size: size(14rem);

  @media screen and (min-width: $br-576) {
    margin-bottom: 0;
  }
}

.post-preview-small-screen-title {
  margin-bottom: size(15rem);

  @media screen and (min-width: $br-768) {
    margin-bottom: size(10rem);
  }
}

.post-preview-small-screen-title:last-child {
  margin-bottom: size(23rem);

  @media screen and (min-width: $br-576) {
    margin-bottom: 0;
  }
}

.post-preview-small-screen-title a {
  font-family: $ff-display;
  font-weight: $fw-display;
  line-height: $lh-display;
  font-size: $fs-h5;
  color: black;
  display: block;

  @media screen and (min-width: $br-768) {
    line-height: 1.3;
  }
}

.post-preview-small-screen-image {
  @media screen and (min-width: $br-576) {
    flex-shrink: 0;
    width: 50%;
    padding-right: size(23rem);
  }

  @media screen and (min-width: $br-768) {
    width: 35%;
    margin-right: size(26rem);
    padding-right: 0;
  }
}
