@import "./vendor/bootstrap.scss";
@import "./vendor/maptiler.scss";

/*
// For convenience: scss function size($rem) returns 1/16 of $rem argument (and scales with user browser font size setting).
*/

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: $ff-ui;
  font-size: $fs-p;
  line-height: 1;
  min-width: size(320rem);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
button,
span,
time,
figure {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
  line-height: 1;
}

button {
  color: black;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: color 0.07s linear;
}

a.active {
  color: $c-primary !important;
}

.hoverable {
  transition: color 0.1s linear;
}

a:hover,
a:active,
.hoverable:hover,
.hoverable:focus,
.hoverable:active {
  color: $c-primary;
}

.archive .posts-list {
  margin-bottom: size(30rem);
}

.archive-header {
  display: flex;
  flex-direction: column;
  margin-top: size(15rem);
  padding-bottom: size(20rem);
  border-bottom: size(1rem) solid black;
  margin-bottom: size(25rem);

  @media screen and (min-width: $br-768) {
    margin-top: size(25rem);
    margin-bottom: size(40rem);
    padding-bottom: size(28rem);
    flex-direction: row;
    align-items: center;
  }
}

.archive-title {
  font-size: $fs-h2;
  font-family: $ff-display;
  font-weight: 800;
  text-transform: uppercase;

  @media screen and (min-width: $br-768) {
    font-size: $fs-h1;
  }
}

.archive-header .archive-title {
  text-align: center;

  @media screen and (min-width: $br-768) {
    margin-bottom: 0;
    margin-right: size(20rem);
  }
}

.layout-container {
  width: 100%;
  max-width: $wrapper-mw;
  margin-left: auto;
  margin-right: auto;
  padding-left: $wrapper-p;
  padding-right: $wrapper-p;

  @media screen and (min-width: $br-768) {
    padding-left: $wrapper-p-768;
    padding-right: $wrapper-p-768;
  }

  @media screen and (min-width: $br-1024) {
    padding-left: $wrapper-p-1024;
    padding-right: $wrapper-p-1024;
  }

  @media screen and (min-width: $br-1280) {
    padding-left: $wrapper-p-1280;
    padding-right: $wrapper-p-1280;
  }
}

.see-more {
  display: flex;
  flex-direction: column;
}

.see-more > h5 {
  font-size: $fs-h3;
  text-transform: uppercase;
  padding-bottom: size(20rem);
  margin-bottom: size(20rem);
  border-bottom: size(1rem) solid $c-break-light;

  @media screen and (min-width: $br-768) {
    margin-bottom: size(35rem);
  }
}

.posts-list + .more-posts-btn-container,
.posts-list-basic + .more-posts-btn-container {
  display: flex;
  justify-content: center;
  max-width: calc(2 / 3 * $wrapper-mw);
  margin-bottom: size(40rem);
}

.posts-list-basic + .more-posts-btn-container {
  margin-top: size(27rem);
}

.more-posts-btn {
  margin-left: auto;
  margin-right: auto;
  width: size(200rem);
  height: size(45rem);
}

.page-title {
  text-align: center;
  margin-top: size(15rem);
  padding-bottom: size(20rem);
  border-bottom: size(1rem) solid $c-break-dark;
  margin-bottom: size(25rem);
  font-family: $ff-display;
  font-size: $fs-h2;
  font-weight: 800;

  @media screen and (min-width: $br-768) {
    margin-top: size(25rem);
    padding-bottom: size(28rem);
    margin-bottom: size(40rem);
  }
}
