@import "./vendor/bootstrap.scss";

/*
// For convenience: scss function size($rem) returns 1/16 of $rem argument (and scales with user browser font size setting).
*/

body {
  font-family: $ff-main;
  font-size: $fs-p;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
button,
span {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
}

ul,
ol {
  list-style-type: none;
}

.hoverable {
  transition: color 0.1s linear;
}

.hoverable:hover {
  color: $primary;
}

.layout-container {
  width: 100%;
  max-width: $wrapper-mw;
  margin-left: auto;
  margin-right: auto;
  padding-left: $wrapper-p;
  padding-right: $wrapper-p;

  @media screen and (min-width: $bp-768) {
    padding-left: $wrapper-p-768;
    padding-right: $wrapper-p-768;
  }

  @media screen and (min-width: $bp-1024) {
    padding-left: $wrapper-p-1024;
    padding-right: $wrapper-p-1024;
  }

  @media screen and (min-width: $bp-1280) {
    padding-left: $wrapper-p-1280;
    padding-right: $wrapper-p-1280;
  }
}
