$ff-display: var(--font-display);
$ff-ui: var(--font-ui);
$ff-ui-heading: var(--font-ui);
$ff-body: var(--font-body);
$fw-display: 500;
$lh-display: 1.3;
$lh-display-small: 1.15;

$fs-h1: size(48.83rem);
$fs-h2: size(39.06rem);
$fs-h3: size(31.25rem);
$fs-h4: size(25rem);
$fs-h5: size(20rem);
$fs-p: size(16rem);
$fs-small: size(12.8rem);
$fs-smaller: size(10.24rem);
$fs-smallest: size(8.19rem);

$c-primary: #007b3e;
$c-secondary: #10628a;
$c-break-light: rgb(232, 232, 232);
$c-break-dark: #bababa;

$c-meta-lightgray: rgb(168, 168, 168);
$c-meta-mediumgray: rgb(140, 140, 140);
$c-meta-gray: rgb(51, 51, 51);
$c-background-gray: rgb(246, 246, 246);

$layout-break-padding: size(25rem);
$list-item-break: size(30rem);
$list-item-break-big: size(40rem);
$wrapper-mw: size(1200rem);
$main-column-mw: calc(0.626 * $wrapper-mw);
$post-content-mw: size(650rem);
$wrapper-p: size(20rem);
$wrapper-p-768: size(20rem);
$wrapper-p-1024: size(25rem);
$wrapper-p-1280: size(30rem);
$image_width_small_screen: 30%;

$br-375: size(375rem);
$br-376: size(376rem);
$br-420: size(420rem);
$br-480: size(480rem);
$br-576: size(576rem);
$br-768: size(768rem);
$br-1024: size(1024rem);
$br-1199: size(1199rem);
$br-1200: size(1199rem);
$br-1280: size(1280rem);
$br-1440: size(1440rem);
$br-1920: size(1920rem);
