$ff-main: "Nunito", sans-serif;
$ff-secondary: "Merriweather", serif;

$fs-h1: size(48.83rem);
$fs-h2: size(39.06rem);
$fs-h3: size(31.25rem);
$fs-h4: size(25rem);
$fs-h5: size(20rem);
$fs-p: size(16rem);
$fs-small: size(12.8rem);
$fs-smaller: size(10.24rem);
$fs-smallest: size(8.19rem);

$wrapper-mw: size(1200rem);
$wrapper-p: size(15rem);
$wrapper-p-768: size(20rem);
$wrapper-p-1024: size(25rem);
$wrapper-p-1280: size(30rem);

$bp-375: size(375rem);
$bp-376: size(376rem);
$bp-420: size(420rem);
$bp-480: size(480rem);
$bp-576: size(576rem);
$bp-768: size(768rem);
$bp-1024: size(1024rem);
$bp-1280: size(1280rem);
$bp-1440: size(1440rem);
$bp-1920: size(1920rem);
