$c-primary: #007b3e;
$c-break-light: rgb(232, 232, 232);
$c-break-dark: rgb(186, 186, 186);

$ff-main: "Fira Sans", sans-serif;
$ff-secondary: "Merriweather", serif;

$fs-h1: size(48.83rem);
$fs-h2: size(39.06rem);
$fs-h3: size(31.25rem);
$fs-h4: size(25rem);
$fs-h5: size(20rem);
$fs-p: size(16rem);
$fs-small: size(12.8rem);
$fs-smaller: size(10.24rem);
$fs-smallest: size(8.19rem);

$wrapper-mw: size(1200rem);
$wrapper-p: size(15rem);
$wrapper-p-768: size(20rem);
$wrapper-p-1024: size(25rem);
$wrapper-p-1280: size(30rem);

$br-375: size(375rem);
$br-376: size(376rem);
$br-420: size(420rem);
$br-480: size(480rem);
$br-576: size(576rem);
$br-768: size(768rem);
$br-1024: size(1024rem);
$br-1199: size(1199rem);
$br-1280: size(1280rem);
$br-1440: size(1440rem);
$br-1920: size(1920rem);
