.post-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.post-categories li:not(:last-of-type) {
  margin-right: size(5rem);
}

.post-categories li:not(:first-of-type) {
  margin-left: size(5rem);
}

.post-categories li a {
  color: $c-secondary;
}
