.offcanvas {
  max-width: size(240rem) !important;
}

.offcanvas a {
  color: black;
}

.offcanvas-body {
  padding: size(8rem) size(20rem) size(10rem) size(21rem) !important;
}

.side-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-menu__close {
  position: absolute;
  top: size(10rem);
  right: size(-38rem);
  color: white;

  @media screen and (min-width: $br-768) {
    display: none;
  }
}

.side-menu__close svg {
  width: size(30rem);
  height: size(30rem);
}

ul.side-menu-list:not(:last-of-type) {
  padding-bottom: size(3rem);
  margin-bottom: size(3rem);
  border-bottom: size(1rem) solid $c-break-light;
}

ul.side-menu-list:last-of-type {
  padding-bottom: size(3rem);
}

.side-menu-list > li > a,
.side-menu-list > li > button {
  display: block;
  padding: size(8rem) 0;
  font-weight: 600;
  font-size: size(14.5rem);
}

.side-menu-list > li > button {
  width: 100%;
  display: flex;
  align-items: center;
}

.side-menu-list > li > button svg {
  margin-left: auto;
  width: size(10rem);
  height: size(10rem);
}

.side-menu-list > li > ul > li {
  display: flex;
  align-items: center;
}

.side-menu-list > li > ul > li > a {
  display: block;
  padding: size(4.5rem);
  font-size: size(13rem);
  font-weight: 400;
  color: rgb(78, 78, 78);
  text-align: right;
  width: 100%;
}

.side-menu__social {
  border-top: size(1rem) solid $c-break-dark;
  margin-top: auto;
  margin-bottom: size(3rem);
}

.side-menu__social > h5 {
  font-weight: 400;
  font-size: $fs-small;
}

.side-menu__social > ul {
  display: flex;
}

.side-menu__social > h5,
.side-menu__social > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: size(30rem);
  border-bottom: size(1rem) solid $c-break-dark;
}

.side-menu__social ul > li {
  width: 50%;
  height: 100%;
}

.side-menu__social ul > li:first-of-type {
  border-right: size(1rem) solid $c-break-dark;
}

.side-menu__social ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.side-menu__social ul > li > a > svg {
  width: size(15rem);
  height: size(15rem);
}
